{
    "openapi": "3.0.0",
    "info": {
        "title": "API Facturación Electrónica Ecuador",
        "description": "Sistema de facturación electrónica para el SRI Ecuador",
        "contact": {
            "name": "Soporte Macrogram",
            "email": "soporte@macrobilling.com"
        },
        "license": {
            "name": "Privada",
            "url": "https://www.macrobilling.com"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://facturacion.macrobills.com/api",
            "description": "API Server"
        }
    ],
    "paths": {
        "/create-user": {
            "post": {
                "tags": [
                    "Administracion"
                ],
                "summary": "Crear un nuevo usuario",
                "description": "Crea un nuevo usuario en el sistema con los roles especificados",
                "operationId": "createUser",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation",
                                    "scopes"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "Nombre completo del usuario",
                                        "type": "string",
                                        "example": "Juan Pérez"
                                    },
                                    "email": {
                                        "description": "Correo electrónico único del usuario",
                                        "type": "string",
                                        "format": "email",
                                        "example": "juan@ejemplo.com"
                                    },
                                    "password": {
                                        "description": "Contraseña del usuario (mínimo 8 caracteres)",
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "description": "Confirmación de la contraseña",
                                        "type": "string",
                                        "format": "password",
                                        "example": "password123"
                                    },
                                    "scopes": {
                                        "description": "Roles asignados al usuario",
                                        "type": "array",
                                        "items": {
                                            "type": "string",
                                            "enum": [
                                                "admin",
                                                "user",
                                                "desarrollo",
                                                "produccion"
                                            ],
                                            "example": "user"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Usuario creado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "success"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Usuario creado exitosamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "name": {
                                                    "type": "string",
                                                    "example": "Juan Pérez"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "juan@ejemplo.com"
                                                },
                                                "scopes": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "user"
                                                    }
                                                },
                                                "created_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                },
                                                "updated_at": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Los datos proporcionados no son válidos"
                                        },
                                        "errors": {
                                            "properties": {
                                                "email": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "El correo electrónico ya está registrado"
                                                    }
                                                },
                                                "password": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string",
                                                        "example": "La contraseña debe tener al menos 8 caracteres"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "type": "string",
                                            "example": "error"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error al crear el usuario"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "No autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "No tienes permisos para crear usuarios"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "admin"
                        ]
                    }
                ]
            }
        },
        "/user/info": {
            "get": {
                "tags": [
                    "Administracion"
                ],
                "summary": "Obtener información del usuario autenticado",
                "description": "Retorna la información completa del usuario que está actualmente autenticado",
                "operationId": "getInfoUser",
                "responses": {
                    "200": {
                        "description": "Información del usuario recuperada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "Juan Pérez"
                                        },
                                        "email": {
                                            "type": "string",
                                            "format": "email",
                                            "example": "juan@ejemplo.com"
                                        },
                                        "email_verified_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2024-01-01T00:00:00.000000Z"
                                        },
                                        "scopes": {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "example": [
                                                    "admin",
                                                    "user",
                                                    "desarrollo",
                                                    "produccion"
                                                ]
                                            }
                                        },
                                        "created_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2024-01-01T00:00:00.000000Z"
                                        },
                                        "updated_at": {
                                            "type": "string",
                                            "format": "date-time",
                                            "example": "2024-01-01T00:00:00.000000Z"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Unauthenticated."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Prohibido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "No tienes permisos para acceder"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/ride_xml/getRIDE": {
            "get": {
                "tags": [
                    "RIDE_XML"
                ],
                "summary": "Generación de RIDE",
                "description": "Generación de RIDE",
                "operationId": "generarRIDE",
                "parameters": [
                    {
                        "name": "uuid",
                        "in": "path",
                        "description": "Generación de RIDE",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ride Generado Exitosamente"
                    },
                    "422": {
                        "description": "Ride En proceso de Generación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/sri/consultar-ruc": {
            "get": {
                "tags": [
                    "SRI"
                ],
                "summary": "Obtiene información detallada de un RUC desde el SRI",
                "description": "Consulta la información de un contribuyente usando su número de RUC",
                "operationId": "consultarRuc",
                "parameters": [
                    {
                        "name": "ruc",
                        "in": "query",
                        "description": "Número de RUC del contribuyente",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^[0-9]{13}$"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Información del RUC recuperada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "ruc": {
                                                    "type": "string",
                                                    "example": "0927218487001"
                                                },
                                                "razon_social": {
                                                    "type": "string",
                                                    "example": "CONTRIBUYENTE PRUEBA"
                                                },
                                                "nombre_comercial": {
                                                    "type": "string",
                                                    "example": "NOMBRE COMERCIAL PRUEBA"
                                                },
                                                "estado_contribuyente": {
                                                    "type": "string",
                                                    "example": "ACTIVO"
                                                },
                                                "clase_contribuyente": {
                                                    "type": "string",
                                                    "example": "OTRO"
                                                },
                                                "tipo_contribuyente": {
                                                    "type": "string",
                                                    "example": "PERSONA NATURAL"
                                                },
                                                "obligado_contabilidad": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "actividad_economica": {
                                                    "type": "string",
                                                    "example": "ACTIVIDADES DE DESARROLLO"
                                                },
                                                "fecha_inicio_actividades": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2010-01-01"
                                                },
                                                "fecha_actualizacion": {
                                                    "type": "string",
                                                    "format": "date",
                                                    "example": "2023-12-31"
                                                },
                                                "fecha_consulta": {
                                                    "type": "string",
                                                    "format": "datetime",
                                                    "example": "2024-11-22 21:37:00"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado"
                    },
                    "422": {
                        "description": "Datos inválidos"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "admin",
                            "user"
                        ]
                    }
                ]
            }
        },
        "/facturacion/{claveAcceso}/pdf": {
            "get": {
                "tags": [
                    "Facturación"
                ],
                "summary": "Descargar PDF de la factura",
                "description": "Genera y descarga el PDF de una factura",
                "operationId": "descargarPDF",
                "parameters": [
                    {
                        "name": "claveAcceso",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PDF de la factura",
                        "content": {
                            "application/pdf": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/facturacion": {
            "post": {
                "tags": [
                    "Facturación"
                ],
                "summary": "Crear nueva factura electrónica",
                "description": "Crea y procesa una nueva factura electrónica según normativa SRI",
                "operationId": "crearFactura",
                "requestBody": {
                    "description": "Datos de la factura",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "empresa_id",
                                    "establecimiento_id",
                                    "punto_emision_id",
                                    "comprador",
                                    "detalles",
                                    "formas_pago"
                                ],
                                "properties": {
                                    "empresa_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "establecimiento_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "punto_emision_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "ambiente": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "fechaEmision": {
                                        "type": "string",
                                        "example": "17-01-2025"
                                    },
                                    "comprador": {
                                        "required": [
                                            "tipo_identificacion",
                                            "identificacion",
                                            "razon_social",
                                            "direccion",
                                            "email"
                                        ],
                                        "properties": {
                                            "tipo_identificacion": {
                                                "description": "04=RUC, 05=CEDULA, 06=PASAPORTE, 07=CONSUMIDOR_FINAL, 08=IDENTIFICACION_EXTERIOR",
                                                "type": "string",
                                                "enum": [
                                                    "04",
                                                    "05",
                                                    "06",
                                                    "07",
                                                    "08"
                                                ],
                                                "example": "04"
                                            },
                                            "identificacion": {
                                                "type": "string",
                                                "example": "0992877878001"
                                            },
                                            "razon_social": {
                                                "type": "string",
                                                "example": "EMPRESA EJEMPLO S.A."
                                            },
                                            "direccion": {
                                                "type": "string",
                                                "example": "Guayaquil - Ecuador"
                                            },
                                            "email": {
                                                "type": "string",
                                                "format": "email",
                                                "example": "cliente@ejemplo.com"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "detalles": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "codigo_principal",
                                                "descripcion",
                                                "cantidad",
                                                "precio_unitario",
                                                "descuento",
                                                "impuestos",
                                                "tipo_producto"
                                            ],
                                            "properties": {
                                                "codigo_principal": {
                                                    "type": "string",
                                                    "maxLength": 25,
                                                    "example": "PRD001"
                                                },
                                                "codigo_auxiliar": {
                                                    "type": "string",
                                                    "maxLength": 25,
                                                    "example": "AUX001"
                                                },
                                                "descripcion": {
                                                    "type": "string",
                                                    "maxLength": 300,
                                                    "example": "Producto de prueba"
                                                },
                                                "tipo_producto": {
                                                    "type": "string",
                                                    "enum": [
                                                        "NORMAL",
                                                        "MEDICINAS",
                                                        "CANASTA_BASICA",
                                                        "SERVICIOS_BASICOS",
                                                        "SERVICIOS_PROFESIONALES",
                                                        "EDUCACION",
                                                        "REGIMEN_SIMPLIFICADO",
                                                        "ESPECIAL",
                                                        "EXPORTACION"
                                                    ],
                                                    "example": "NORMAL"
                                                },
                                                "cantidad": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "maximum": 999999999.999999,
                                                    "minimum": 1.0e-6,
                                                    "example": 2
                                                },
                                                "precio_unitario": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "maximum": 999999999.999999,
                                                    "minimum": 0,
                                                    "example": 100
                                                },
                                                "descuento": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "maximum": 999999999.99,
                                                    "minimum": 0,
                                                    "example": 10
                                                },
                                                "impuestos": {
                                                    "type": "array",
                                                    "items": {
                                                        "required": [
                                                            "codigo",
                                                            "codigo_porcentaje",
                                                            "base_imponible",
                                                            "valor"
                                                        ],
                                                        "properties": {
                                                            "codigo": {
                                                                "description": "Código SRI del impuesto según tipos_impuestos",
                                                                "type": "string",
                                                                "example": "02"
                                                            },
                                                            "codigo_porcentaje": {
                                                                "description": "Código SRI de la tarifa según tarifas_impuestos",
                                                                "type": "string",
                                                                "example": "4"
                                                            },
                                                            "impuesto_tarifa": {
                                                                "description": "Tarifa del SRI según el codigo Impuesto ",
                                                                "type": "number",
                                                                "example": 15
                                                            },
                                                            "base_imponible": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "maximum": 999999999.99,
                                                                "minimum": 0,
                                                                "example": 190
                                                            },
                                                            "valor": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "maximum": 999999999.99,
                                                                "minimum": 0,
                                                                "example": 28.5
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "formas_pago": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "forma_pago",
                                                "total"
                                            ],
                                            "properties": {
                                                "forma_pago": {
                                                    "description": "01=Efectivo, 15=Compensación, 16=Tarjeta Débito, 17=Dinero Electrónico, 18=Tarjeta Prepago, 19=Tarjeta Crédito, 20=Otros, 21=Endoso de Títulos",
                                                    "type": "string",
                                                    "enum": [
                                                        "01",
                                                        "15",
                                                        "16",
                                                        "17",
                                                        "18",
                                                        "19",
                                                        "20",
                                                        "21"
                                                    ],
                                                    "example": "01"
                                                },
                                                "total": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "maximum": 999999999.99,
                                                    "minimum": 0,
                                                    "example": 276
                                                },
                                                "plazo": {
                                                    "type": "integer",
                                                    "minimum": 0,
                                                    "example": 0
                                                },
                                                "unidad_tiempo": {
                                                    "type": "string",
                                                    "enum": [
                                                        "dias",
                                                        "meses"
                                                    ],
                                                    "example": "dias"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "detalles_adicionales": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "nombre",
                                                "valor"
                                            ],
                                            "properties": {
                                                "nombre": {
                                                    "type": "string",
                                                    "maxLength": 300,
                                                    "example": "Vendedor"
                                                },
                                                "valor": {
                                                    "type": "string",
                                                    "maxLength": 300,
                                                    "example": "Juan Pérez"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "propina": {
                                        "type": "number",
                                        "format": "float",
                                        "maximum": 999999999.99,
                                        "minimum": 0,
                                        "example": 0
                                    },
                                    "observacion": {
                                        "type": "string",
                                        "maxLength": 300,
                                        "example": "Factura de prueba"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Factura creada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Factura creada exitosamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "clave_acceso": {
                                                    "type": "string",
                                                    "example": "2311202301099287787800110010010000000011234567813"
                                                },
                                                "numero_factura": {
                                                    "type": "string",
                                                    "example": "001-001-000000001"
                                                },
                                                "estado": {
                                                    "type": "string",
                                                    "enum": [
                                                        "CREADA",
                                                        "FIRMADA",
                                                        "ENVIADA",
                                                        "AUTORIZADA",
                                                        "RECHAZADA",
                                                        "ANULADA"
                                                    ],
                                                    "example": "CREADA"
                                                },
                                                "url_pdf": {
                                                    "type": "string",
                                                    "format": "uri"
                                                },
                                                "url_xml": {
                                                    "type": "string",
                                                    "format": "uri"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error en los datos de la factura"
                                        },
                                        "error": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "example": {
                                                "comprador.tipo_identificacion": [
                                                    "El tipo de identificación no es válido"
                                                ],
                                                "detalles.0.impuestos": [
                                                    "Los impuestos son requeridos"
                                                ]
                                            },
                                            "additionalProperties": {
                                                "type": "array",
                                                "items": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Error interno del servidor"
                                        },
                                        "error": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/facturacion/{claveAcceso}": {
            "get": {
                "tags": [
                    "Facturación"
                ],
                "summary": "Consultar factura por clave de acceso",
                "description": "Obtiene el detalle completo de una factura usando su clave de acceso. La clave debe contener exactamente 49 dígitos numéricos.",
                "operationId": "consultarFactura",
                "parameters": [
                    {
                        "name": "claveAcceso",
                        "in": "path",
                        "description": "Clave de acceso de la factura (49 dígitos numéricos)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "maxLength": 49,
                            "minLength": 10,
                            "example": "2311202301099287787800110010010000000011234567813"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Factura encontrada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "factura": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer",
                                                            "example": 1
                                                        },
                                                        "clave_acceso": {
                                                            "type": "string",
                                                            "example": "2311202301099287787800110010010000000011234567813"
                                                        },
                                                        "estado": {
                                                            "type": "string",
                                                            "enum": [
                                                                "CREADA",
                                                                "FIRMADA",
                                                                "ENVIADA",
                                                                "AUTORIZADA",
                                                                "RECHAZADA",
                                                                "ANULADA"
                                                            ],
                                                            "example": "AUTORIZADA"
                                                        },
                                                        "fecha_emision": {
                                                            "type": "string",
                                                            "format": "date",
                                                            "example": "2023-11-20"
                                                        },
                                                        "razon_social_comprador": {
                                                            "type": "string",
                                                            "example": "CONSUMIDOR FINAL"
                                                        },
                                                        "identificacion_comprador": {
                                                            "type": "string",
                                                            "example": "9999999999999"
                                                        },
                                                        "total_sin_impuestos": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 100
                                                        },
                                                        "total_descuento": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 0
                                                        },
                                                        "total_impuestos": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 15
                                                        },
                                                        "importe_total": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 115
                                                        },
                                                        "detalles": {
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "integer",
                                                                        "example": 1
                                                                    },
                                                                    "descripcion": {
                                                                        "type": "string",
                                                                        "example": "Producto de prueba"
                                                                    },
                                                                    "cantidad": {
                                                                        "type": "number",
                                                                        "format": "float",
                                                                        "example": 1
                                                                    },
                                                                    "precio_unitario": {
                                                                        "type": "number",
                                                                        "format": "float",
                                                                        "example": 100
                                                                    },
                                                                    "descuento": {
                                                                        "type": "number",
                                                                        "format": "float",
                                                                        "example": 0
                                                                    },
                                                                    "total": {
                                                                        "type": "number",
                                                                        "format": "float",
                                                                        "example": 100
                                                                    },
                                                                    "impuestos": {
                                                                        "type": "array",
                                                                        "items": {
                                                                            "properties": {
                                                                                "codigo": {
                                                                                    "type": "string",
                                                                                    "example": "2"
                                                                                },
                                                                                "codigo_porcentaje": {
                                                                                    "type": "string",
                                                                                    "example": "2"
                                                                                },
                                                                                "base_imponible": {
                                                                                    "type": "number",
                                                                                    "example": 100
                                                                                },
                                                                                "valor": {
                                                                                    "type": "number",
                                                                                    "example": 15
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        }
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "pagos": {
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "forma_pago": {
                                                                        "type": "string",
                                                                        "example": "01"
                                                                    },
                                                                    "total": {
                                                                        "type": "number",
                                                                        "format": "float",
                                                                        "example": 115
                                                                    },
                                                                    "plazo": {
                                                                        "type": "integer",
                                                                        "example": 0
                                                                    },
                                                                    "unidad_tiempo": {
                                                                        "type": "string",
                                                                        "example": "dias"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "detalles_adicionales": {
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "nombre": {
                                                                        "type": "string",
                                                                        "example": "Email"
                                                                    },
                                                                    "valor": {
                                                                        "type": "string",
                                                                        "example": "cliente@ejemplo.com"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Formato de clave de acceso inválido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "data": {
                                            "type": "null"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Formato de clave de acceso inválido"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "La clave de acceso debe contener exactamente 49 dígitos numéricos"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Factura no encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "data": {
                                            "type": "null"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Factura no encontrada"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "No se encontró la factura con la clave de acceso proporcionada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autorizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "No autorizado"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Prohibido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "No tiene permisos para realizar esta acción"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "admin",
                            "user",
                            "desarrollo",
                            "produccion"
                        ]
                    }
                ]
            }
        },
        "/facturacion/{claveAcceso}/anular": {
            "post": {
                "tags": [
                    "Facturación"
                ],
                "summary": "Anular factura",
                "description": "Anula una factura existente",
                "operationId": "anularFactura",
                "parameters": [
                    {
                        "name": "claveAcceso",
                        "in": "path",
                        "description": "Clave de acceso de la factura a anular",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "motivo"
                                ],
                                "properties": {
                                    "motivo": {
                                        "type": "string",
                                        "maxLength": 300,
                                        "minLength": 10,
                                        "example": "Anulación solicitada por el cliente"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Factura anulada exitosamente"
                    },
                    "422": {
                        "description": "No se puede anular la factura"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "admin",
                            "user",
                            "desarrollo",
                            "produccion"
                        ]
                    }
                ]
            }
        },
        "/api/facturacion/{claveAcceso}/xml": {
            "get": {
                "tags": [
                    "Facturación"
                ],
                "summary": "Descargar XML de la factura",
                "description": "Genera y descarga el XML de una factura",
                "operationId": "descargarXML",
                "parameters": [
                    {
                        "name": "claveAcceso",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "XML de la factura",
                        "content": {
                            "application/xml": {}
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/facturacion/{claveAcceso}/estado-sri": {
            "get": {
                "tags": [
                    "Facturación"
                ],
                "summary": "Consultar estado en SRI",
                "description": "Consulta el estado de una factura en el SRI",
                "operationId": "consultarEstadoSRI",
                "parameters": [
                    {
                        "name": "claveAcceso",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Estado de la factura en el SRI"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/guias-remision": {
            "post": {
                "tags": [
                    "Guías de Remisión"
                ],
                "summary": "Crear guía de remisión",
                "description": "Crea una nueva guía de remisión electrónica",
                "operationId": "crearGuiaRemision",
                "requestBody": {
                    "description": "Datos de la guía de remisión",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "empresa_id",
                                    "establecimiento_id",
                                    "punto_emision_id",
                                    "ambiente",
                                    "tipo_emision",
                                    "fecha_ini_transporte",
                                    "fecha_fin_transporte",
                                    "transportista",
                                    "dir_partida",
                                    "destinatarios"
                                ],
                                "properties": {
                                    "empresa_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "establecimiento_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "punto_emision_id": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "ambiente": {
                                        "description": "1: Pruebas, 2: Producción",
                                        "type": "string",
                                        "enum": [
                                            "1",
                                            "2"
                                        ],
                                        "example": "1"
                                    },
                                    "tipo_emision": {
                                        "description": "1: Normal",
                                        "type": "string",
                                        "enum": [
                                            "1"
                                        ],
                                        "example": "1"
                                    },
                                    "fecha_ini_transporte": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-03-15"
                                    },
                                    "fecha_fin_transporte": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2024-03-16"
                                    },
                                    "transportista": {
                                        "required": [
                                            "tipo_identificacion",
                                            "identificacion",
                                            "razon_social",
                                            "placa"
                                        ],
                                        "properties": {
                                            "tipo_identificacion": {
                                                "type": "string",
                                                "enum": [
                                                    "04",
                                                    "05",
                                                    "06",
                                                    "07",
                                                    "08"
                                                ],
                                                "example": "04"
                                            },
                                            "identificacion": {
                                                "type": "string",
                                                "example": "0992877878001"
                                            },
                                            "razon_social": {
                                                "type": "string",
                                                "example": "TRANSPORTES EXPRESO S.A."
                                            },
                                            "placa": {
                                                "type": "string",
                                                "example": "ABC-1234"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "dir_partida": {
                                        "type": "string",
                                        "example": "Av. Principal 123, Quito"
                                    },
                                    "destinatarios": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "identificacion",
                                                "razon_social",
                                                "direccion",
                                                "motivo_traslado",
                                                "detalles"
                                            ],
                                            "properties": {
                                                "identificacion": {
                                                    "type": "string",
                                                    "example": "1716849140001"
                                                },
                                                "razon_social": {
                                                    "type": "string",
                                                    "example": "EMPRESA DESTINO S.A."
                                                },
                                                "direccion": {
                                                    "type": "string",
                                                    "example": "Av. 10 de Agosto y Colón, Guayaquil"
                                                },
                                                "email": {
                                                    "type": "string",
                                                    "example": "correo@correo.com"
                                                },
                                                "motivo_traslado": {
                                                    "type": "string",
                                                    "example": "Traslado de mercadería para venta"
                                                },
                                                "doc_aduanero": {
                                                    "type": "string",
                                                    "example": "12345678"
                                                },
                                                "cod_establecimiento_destino": {
                                                    "type": "string",
                                                    "example": "001"
                                                },
                                                "ruta": {
                                                    "type": "string",
                                                    "example": "Quito - Ambato - Guayaquil"
                                                },
                                                "doc_sustento": {
                                                    "properties": {
                                                        "tipo": {
                                                            "type": "string",
                                                            "enum": [
                                                                "01",
                                                                "03",
                                                                "04",
                                                                "05",
                                                                "06",
                                                                "07"
                                                            ],
                                                            "example": "01"
                                                        },
                                                        "numero": {
                                                            "type": "string",
                                                            "example": "001-001-000000001"
                                                        },
                                                        "autorizacion": {
                                                            "type": "string",
                                                            "example": "1234567890"
                                                        },
                                                        "fecha_emision": {
                                                            "type": "string",
                                                            "format": "date",
                                                            "example": "2024-03-14"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "detalles": {
                                                    "type": "array",
                                                    "items": {
                                                        "required": [
                                                            "descripcion",
                                                            "cantidad"
                                                        ],
                                                        "properties": {
                                                            "codigo_interno": {
                                                                "type": "string",
                                                                "example": "PROD001"
                                                            },
                                                            "codigo_adicional": {
                                                                "type": "string",
                                                                "example": "AUX001"
                                                            },
                                                            "descripcion": {
                                                                "type": "string",
                                                                "example": "Producto de ejemplo"
                                                            },
                                                            "cantidad": {
                                                                "type": "number",
                                                                "example": 10.5
                                                            },
                                                            "detalles_adicionales": {
                                                                "type": "array",
                                                                "items": {
                                                                    "required": [
                                                                        "nombre",
                                                                        "valor"
                                                                    ],
                                                                    "properties": {
                                                                        "nombre": {
                                                                            "type": "string",
                                                                            "example": "Marca"
                                                                        },
                                                                        "valor": {
                                                                            "type": "string",
                                                                            "example": "XYZ"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "info_adicional": {
                                        "type": "array",
                                        "items": {
                                            "required": [
                                                "nombre",
                                                "valor"
                                            ],
                                            "properties": {
                                                "nombre": {
                                                    "type": "string",
                                                    "example": "Teléfono"
                                                },
                                                "valor": {
                                                    "type": "string",
                                                    "example": "0991234567"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Guía de remisión creada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Guía de remisión creada exitosamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "clave_acceso": {
                                                    "type": "string",
                                                    "example": "1203202301099287787800110010010000000011234567818"
                                                },
                                                "numero": {
                                                    "type": "string",
                                                    "example": "001-001-000000001"
                                                },
                                                "estado": {
                                                    "type": "string",
                                                    "example": "CREADA"
                                                },
                                                "url_pdf": {
                                                    "type": "string",
                                                    "format": "uri"
                                                },
                                                "url_xml": {
                                                    "type": "string",
                                                    "format": "uri"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error en los datos de entrada"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "oauth2": []
                    }
                ]
            }
        },
        "/guias-remision/{claveAcceso}": {
            "get": {
                "tags": [
                    "Guías de Remisión"
                ],
                "summary": "Obtener guía de remisión",
                "description": "Obtiene el detalle de una guía de remisión por su clave de acceso",
                "operationId": "obtenerGuiaRemision",
                "parameters": [
                    {
                        "name": "claveAcceso",
                        "in": "path",
                        "description": "Clave de acceso de la guía de remisión",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^[0-9]{49}$",
                            "example": "1203202301099287787800110010010000000011234567818"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Guía de remisión encontrada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer"
                                                },
                                                "clave_acceso": {
                                                    "type": "string"
                                                },
                                                "estado": {
                                                    "type": "string"
                                                },
                                                "transportista": {
                                                    "type": "object"
                                                },
                                                "destinatarios": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "estados": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Guía de remisión no encontrada"
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "admin",
                            "user",
                            "desarrollo",
                            "produccion"
                        ]
                    }
                ]
            }
        },
        "/guias-remision/{claveAcceso}/pdf-download": {
            "get": {
                "tags": [
                    "Guías de Remisión"
                ],
                "summary": "Descargar PDF",
                "description": "Descarga el PDF de una Guia de Remision",
                "operationId": "descargarPDFGuiaRemision",
                "parameters": [
                    {
                        "name": "claveAcceso",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^[0-9]{49}$"
                        }
                    },
                    {
                        "name": "formato",
                        "in": "query",
                        "description": "Formato de respuesta: 'base64', 'binario' o 'url'",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "base64",
                            "enum": [
                                "base64",
                                "binario",
                                "url"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "RIDE obtenido exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "base64": {
                                            "description": "Contenido del PDF en base64 (solo si formato=base64)",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "application/pdf": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Documento no encontrado o en proceso de generación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "mensaje": {
                                            "type": "string",
                                            "example": "RIDE EN PROCESO DE GENERACIÓN"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error al obtener el archivo",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "mensaje": {
                                            "type": "string",
                                            "example": "Error al obtener el archivo"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2": [
                            "admin",
                            "user",
                            "desarrollo",
                            "produccion"
                        ]
                    }
                ]
            }
        },
        "/guias-remision/{claveAcceso}/xml": {
            "get": {
                "tags": [
                    "Guías de Remisión"
                ],
                "summary": "Descargar XML",
                "description": "Descarga el XML de una Guía de Remisión",
                "operationId": "descargarXMLGuiaRemision",
                "parameters": [
                    {
                        "name": "claveAcceso",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "pattern": "^[0-9]{49}$"
                        }
                    },
                    {
                        "name": "formato",
                        "in": "query",
                        "description": "Formato de respuesta: 'base64', 'binario' o 'url'",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "base64",
                            "enum": [
                                "base64",
                                "binario",
                                "url"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "XML obtenido exitosamente",
                        "content": {
                            "application/json": {
[...]
